<h1><%= @cocktail.name %></h1>

<ol>
  <% @cocktail.doses.each do |i| %>
    <li><%= link_to "ðŸ—‘ï¸", dose_path(i), method: :delete %> <%= i.description %> : <%= i.ingredient.name %> </li>

  <% end %>
</ol>

<%= link_to "Back to Cocktails", root_path, class: "btn btn-primary" %>
<%= link_to 'âž• Add Ingredient',  new_cocktail_dose_path(@cocktail)%>
