<h1>What are the ingredients for <%= @cocktail.name %></h1>



<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit class: "btn btn-primary"%>


<% end %>
